.server-item-container {
    display: flex;

    margin: 5px;
    border: 1px solid black;
}

.server-status {
    width: 20px;
}

.server-icon i {
    padding: 15px;
    width: 75px;
}

.server-name {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
}