.container {
    display: flex;

    margin: 5px;
    border: 1px solid black;
}

.status {
    width: 20px;
}

.icon {
    padding: 15px;
    width: 75px;
}

.name {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
}